<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Bind the SDK's TokenStore contract to Magento's DB-backed implementation -->
    <preference for="Waffy\Ecommerce\Contract\TokenStore"
                type="Waffy\Payment\Model\TokenStore"/>

    <!-- Publish isSandbox + the progress URL into window.checkoutConfig -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="waffy_payment_config_provider" xsi:type="object">Waffy\Payment\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Register CLI commands -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="waffy_checkout_test" xsi:type="object">Waffy\Payment\Console\Command\TestCheckoutCommand</item>
            </argument>
        </arguments>
    </type>

</config>
